:root {
  --primario:    #FFFFFF;
  --secundario:  #3F4354;
  --colorButon:  #03CC90;
  --fuentePrincipal: 'Fuzzy Bubbles', cursive;
}

/* Globales */

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box; /* Hack box model */
}
*, *:before, *:after { /* Hack box model */
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 2;
  background-color: var(--primario);
}

/* Header */
.header {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

/* Form */
.form {
  background-color: var(--secundario);
  width: min(75rem, 100%); /* Utilizar el valor mas pequeño */
  margin: 0 auto;
  border-radius: 1rem;
  padding: 2rem;
}

.form fieldset {
  border: none;
}

 .form legend {
  color: var(--primario);
  font-size: 2.2rem;
  padding-top: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.contenedor-campos {
  display: flex;
  flex-direction: column;
}

@media (min-width: 480px) {
  .contenedor-campos {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.3rem;  
  }    
}

label {
  color: var(--primario);
  font-size: 1.8rem;
}

/* Boton */
.boton {
  background-color: var(--colorButon);
  border: none;
  padding: .5rem;
  border-radius: .5rem;
  color: var(--secundario);
  font-weight: bold;
  text-align: center;
}




